<!DOCTYPE html>
<html>
  <head>
    <title>MovieReviewer2024V1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <header>
    <%= image_tag("logo.png") %>
  </header>

  <div class="content">
    <%= yield %>
  </div>

  <footer>
    <p> Movies are awesome</p>
  </footer></html>
